body {
    padding: 32px 8px;
    text-align: center;
    font-family: "New Rocker", sans-serif;
    color: rgb(232, 232, 232);
    background-image: url("../img/bg-wall.png");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

h1 {
    font-size: 60px;
}

#subheadline {
    margin-top: -32px;
    font-family: monospace, monospace;
    font-size: 14px;
}


#start-screen {
    display: block;

}

#instructions {
    padding: 200px 0px;
    margin: 0px auto;
    max-width: 500px;
    font-family: monospace, monospace;
    font-size: 14px;
}

#game-screen {
    position: relative;
    display: none;
}

#game-map {
    border-radius: 20px;
    position: relative;
    margin: 32px auto;
    background-image: url("../img/bg-wall.png");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    border-style: outset;
    overflow: hidden;
}

#darkness-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at 400px 300px,
            rgba(0, 0, 0, 0.00) 80px,
            rgba(0, 0, 0, 0.18) 130px,
            rgba(0, 0, 0, 0.70) 190px,
            rgba(0, 0, 0, 0.85) 260px,
            rgba(0, 0, 0, 0.85) 100%);
}

#end-screen {
    display: none;
}

#death-screen {
    display: none;
}

.key-body {
    visibility: hidden;
}

.door {
    visibility: hidden;
}

.player-torch {
    border-radius: 50%;
    background: #ffe500;
    background: radial-gradient(circle, rgba(255, 187, 0, 0.3) 0%, rgba(255, 229, 0, 0) 75%);

}

.ghost {
    opacity: 60%;
    visibility: hidden;
}

button {
    min-width: 100px;
    font-family: monospace;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(70, 174, 10);
    background-color: rgb(165, 18, 18);
    color: rgb(255, 255, 255);
}