body {
    padding: 32px 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: rgb(232, 232, 232);
    background-image: url("../img/bg-wall.png");
    /* background-color: rgba(18, 4, 0, 0.8); */
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}


#start-screen {
    display: block;
    
}

#game-screen {
    position: relative;
    display: none;
    background-image: url("../img/bg-wall.png");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    border-style: outset;
}

#end-screen {
    display: none;
}

.player-body {
    border-radius: 50%;
    background: rgba(255, 187, 0)
}

.key-body {
    background: rgba(255, 255, 255, 0);
    visibility: hidden;
}

.player-torch {
    border-radius: 50%;
background: #ffe500;
background: radial-gradient(circle, rgba(255, 187, 0, 10.8) 0%, rgba(255, 229, 0, 0) 70%);

}

